<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="n_log_in">
    <input type="text" id="rName" placeholder="name..." /><br>
    <input type="text" id="rEmail" placeholder="email..." /><br>
    <input type="password" id ="rPassword" placeholder="Password..." /><br>
    <button id="register" onclick="register()">Register</button>
</div>

<br/>
<br/>

<div class="n_log_in">
    <input type="text" id="email" placeholder="email..." /><br>
    <input type="password" id ="password" placeholder="Password..." /><br>
    <button id="Login_Register" onclick="login()">Login</button>
</div>

<br/>
<br/>
<br/>

<button onclick="findCustomerSupportAgent()">Find Customer Support Agent</button>

<br/>
<br/>
<br/>

<div>
    <input type="text" id="message" placeholder="message"><br/>
    <button id="send-message" onclick="sendMessage()">send message</button>
</div>

<ul id="messages">

</ul>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script>
    let socket
    let userId
    let agentId
    connect()
    async function login(){
        const email = document.getElementById('email').value
        const password = document.getElementById('password').value

        const data = {
                "email": email,
                "password": password,
        }
        const response = await fetch('/api/login', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }).then(response => response.json())

        userId = response['userId']

        await connect()
    }

    async function register() {
        const name = document.getElementById('rName').value
        const email = document.getElementById('rEmail').value
        const password = document.getElementById('rPassword').value

        const data = {
            "email": email,
            "password": password,
            "name": name
        }
        await fetch('/api/register', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        })
    }

    async function connect(){
        socket = io.connect('http://127.0.0.1:3000', {reconnect: true, withCredentials: true})
        socket.on('connect', function (socket) {
            console.log('Connected!');
        });

        socket.on('disconnect', function (socket) {
            console.log('Disconnected!');
        });

        socket.on('message', (socket) => {
            console.log(socket)
            const messageList = document.getElementById('messages')
            messageList.innerHTML += `<li>HIM: ${socket.message} </li>`
            agentId = socket.from
        })
    }


    async function findCustomerSupportAgent() {
        const response = await fetch('/api/find-customer-support-agent', {
            method: 'GET',
        }).then(response => response.json())

        agentId = response['agentId']
    }

    async function sendMessage(){
        const message = document.getElementById('message').value

        const data = {
            "from": userId,
            "to": agentId,
            "message": message ?? "x"
        }
        await fetch('/api/send-message', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        })

        const messageList = document.getElementById('messages')
        messageList.innerHTML += `<li>ME: ${message} </li>`
    }

</script>

</body>
</html>